<a href="https://colab.research.google.com/github/AnisaZelkia/Phyton/blob/master/Latihan_Modul_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
e=input("name :")
all_word = e.split()
first_word = all_word[0]
print("First word of my name is: ",first_word)

name :Mahatma Favian
First word of my name is:  Mahatma

In [ ]:
f=input("first letter of my name is :")
print("first letter of my name is :", f[0])

first letter of my name is :eve
first letter of my name is : e

In [ ]:
k,l,m=1,2,3
print(k)
print(l)
print(m)

1
2
3

In [ ]:
k=input("tinggi body (cm): ")

tinggi body (cm): 100

In [ ]:
l=input('tinggi baden (cm):')

tinggi baden (cm):78

In [ ]:
penjeng=int(input("penjeng: (cm)"))
leber=int(input("leber: (cm)"))
e=penjeng*leber
print("jadi luasnya adalah",e)

penjeng: (cm)5
leber: (cm)6
jadi luasnya adalah 30

In [ ]:
print(k)

100

In [ ]:
#@title

a=12
b=8
print(a)
print(b)

12
8

In [ ]:
#contoh perhitungan luas segitiga

alas=int(input("alas (cm):"))
tinggi=int(input("tinggi (cm):"))
Luas=alas*tinggi/2
print("Total luas segitiga (cm) adalah", Luas)

alas (cm):9
tinggi (cm):9
Total luas segitiga (cm) adalah 40.5

In [ ]:
xPD= "//td[contains(., '"
xPB= "')]//following-sibling::td//a"
wahana= "RS ISLAM SITI HAJAR"
get_wahana = xPD + wahana + xPB
print(get_wahana)

//td[contains(., 'RS ISLAM SITI HAJAR')]//following-sibling::td//a

In [ ]:
inputan = input("Masukkan deret bilangan (pisahkan dengan koma): ")
data = []

Masukkan deret bilangan (pisahkan dengan koma): 1, 2, 3, 4, 5

In [ ]:
kelerengAldi = int(input("Jika kelereng Aldi adalah = "))
kelerengBudi = (kelerengAldi - 15)
kelerengAnto = 2*(kelerengAldi + kelerengBudi)
kelerengAgung = (kelerengAldi + kelerengBudi + kelerengAnto) - 5

print("Maka Kelereng Budi menjadi =", kelerengBudi)
print("Maka Kelereng Anto menjadi =", kelerengAnto)
print("Maka Kelereng Agung menjadi =", kelerengAgung)

Jika kelereng Aldi adalah = 25
Maka Kelereng Budi menjadi = 10
Maka Kelereng Anto menjadi = 70
Maka Kelereng Agung menjadi = 100

In [ ]:
def Average(data):
  return sum(data) / len(data)

inputan = input("Masukkan deret bilangan (pisahkan dengan koma): ")
data = []

# konversi inputan ke dalam list yg berisi integer
for bilangan in inputan.split(','):
    data.append(int(bilangan))

rerata = Average(data)
print(f'Data -> {data}')
print(f'Mean -> {rerata}')

Masukkan deret bilangan (pisahkan dengan koma): 2, 3, 4
Data -> [2, 3, 4]
Mean -> 3.0

In [ ]:
nama=input("nama(marga) : ")
print(nama)

In [ ]:
Panjang=float(input("Panjang (cm):"))
Lebar=float(input("Lebar(cm) :"))
Tinggi=float(input("Tinggi (cm) :"))
Jawab = float(Panjang*Lebar*Tinggi)
print ("Jawab", Jawab)

Panjang (cm):3
Lebar(cm) :4
Tinggi (cm) :5
Jawab 60.0

In [ ]:
#Bucin Lagi

a=input("nama depan:")
b=input("nama tengah:")
c=input("nama belakang:")
print(a[0], "l", b[0], "ve", c[0], "o", c[1])

nama depan:BAYU
nama tengah:SANDY
nama belakang:BUAYA
B l S ve B o U

In [ ]:
#Menghitung Luas Segi Tiga

In [ ]:
#menghitung luas persegi
s=int(input("sisi persegi adalah:"))
l=s**2
print(l)

Harus ditambah int/integer karena menggunakan variabel angka

In [ ]:
a=3
a='kamu'
print((a))

kamu

print(a) akan menampilkan hasil program dari input yang terakhir diberikan

In [ ]:
a,b,c = 1,2,3
print(a)

1

In [ ]:
#penggunaan fungsi char
a=input("huruf ke-2 awal dari nama: ") ; print("huruf ke-2 nama",a,("yaitu: "), a[1])

huruf ke-2 awal dari nama: gg
huruf ke-2 nama gg yaitu:  g

indeksi jika diisi [1] berarti ke-2 dari awal char

In [ ]:
a=print(2*2)

4

In [ ]:
a=10
print(a)
b=7
print(b)

In [ ]:
a, b, c=7,8,9
print(a)
print(b)
print(c)
d=54
print(d)

In [ ]:
a=input("Tinggi badan (cm) : ")
print (a)

In [ ]:
b=input("Berat badan (kg): ")
print (b)

In [ ]:
#menghitung luas persegi panjang
panjang=int(input("panjang(cm):"))
lebar=int(input("lebar(cm):"))
luas=panjang*lebar
print("luas (cm) =", luas)

In [ ]:
#Buat program menghitung luas persegi panjang

p=int(input("Panjang (cm):"))
l=int(input("Lebar (cm):"))
a=p*l
print("Luas persegi panjang (cm) adalah", a)

In [ ]:
a=input("Nama :")

In [ ]:
b=input("Huruf awal nama saya adalah : ")
print("Huruf awal nama saya adalah : ", b[0])

In [ ]:
Umur = input('Umur saya adalah: ')
print ('jadi umur saya',Umur)

In [ ]:
a=5
print(a)

In [ ]:
b=10
print(b)

In [ ]:
a, b, c=4,5,6
print(b)
print(c)
print(a)

In [ ]:
a=input("Berat Badan (kg): ")

In [ ]:
print(a)

In [ ]:
#Buat program menghitung luas persegi

panjang=int(input("panjang (cm): "))
lebar=int(input("lebar (cm): "))
a=panjang*lebar
print("luas dari persegit tersebut", a)

In [ ]:
a=input("nama :")

In [ ]:
b=input("Huruf awal nama saya adalah :")
print("Huruf awal nama saya adalah", b[0])

In [ ]:
a=input("Tinggi badan (cm): ")
print(a)

In [ ]:
panjang= int(input("Panjang Rumah Gua (m):" ))
lebar= int(input("Lebar Rumah Gua (m):" ))
a=panjang*lebar
print(a)

In [ ]:
a=input("Nomor Plat Kendaraan: ")
print("Huruf  Plat Kendaraan adalah", a[0], a[1])

Nomor Plat Kendaraan: p 3409 a
Huruf  Plat Kendaraan adalah p